* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
    background-color: black;
}
nav .left-side {
    padding-left: 50px;
}
nav .left-side h2 {
    color: white;
    text-transform: uppercase;
}
nav .right-side button {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 7px;
    border-radius: 8px;
    transition: .3s;
}
nav .right-side button:first-child {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-right: 20px;
}
nav .right-side button:first-child:hover {
    background-color: white;
    color: black;
}
nav .right-side button:nth-child(2) {
    background-color: white;
    color: black;
    border: none;
}
nav .right-side button:nth-child(2):hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.add-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100vh - 72px);
    visibility: hidden;
}
.add-section.open {
    visibility: visible;
}
.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e4e3e3;
    width: 80%;
    height: calc(100vh - 72px);
}
.input-container h2{
    color: black;
    margin-top: 50px;
}
.input-container .input-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
}
.input-container .input-box input {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    width: 400px;
}
.input-container .input-box button {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    padding: 7px;
    width: 350px;
    cursor: pointer;
}

.student-section {
    position: absolute;
    width: 100%;
    height: calc(100vh - 72px);
    visibility: visible;
    padding: 50px 2%;
}
.student-section.closeStudent {
    visibility: hidden;
}
.student-section h2 {
    color: black;
    text-transform: uppercase;
}
.student-box {
    width: 100%;
    padding: 30px 2%;
}
.student-box table {
    width: 100%;

}
.student-box table thead tr th {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.student-box table tbody tr th {
    background-color: #e4e3e3;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.student-box table tbody tr th button:first-child {
    background-color: black;
    color: white;
    padding: 7px;
    width: 100px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}
.student-box table tbody tr th button:nth-child(2) {
    background-color: red;
    width: 100px;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}